html {  
    box-sizing: border-box;
}

html, body {
  overflow: auto;
}

body {
    color: #fff;
    background-color: #303F9F;
    display:flex;
    font-family: 'Quicksand', sans-serif; 
    text-align:center;
    height: 100%; 
}


form input, 
form label  {
    color:#fff;
    text-align:left; 
}

form label {
    margin: 1em 0;
    display:block; 
    text-align: left; 
}

form input[type="submit"],
.error-btn {
    background-color: #FFC107;
    display:block;
    width:100%; 
}

form input[type="submit"]:hover,
.error-btn {
    background-color: #BADA55;
}

footer {
    font-size: 1rem;
}

.container {
    /*width:50%;*/
    /*border: 1px solid #fff;*/
    border-radius: 2rem;  
    /*align-self:center;*/
    padding:3rem; 
    margin-top: 3rem;   
}

.result {
  color: #303f9f;
  background-color: #fff;
  padding: 0.8rem; 
  border-radius:2rem;
  text-align:center; 
}

.error {
    color: #fff;
    font-size: 1.1em;
}
/*.table tbody {
    background-color: rgba(251, 251, 255, 0.6); 
}*/

/* Page Specific Styles */ 
/*cover.css -> 

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #444;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color:#fff;
  border: transparent;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  background-image: url('../assets/bg2.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .9);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9);
}

.cover-container {
  max-width: 65em;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  font-size: 1.2rem; 
  color: #fff; 
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover {
  color: 	#ff1744;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-brand {
  font-size: 3rem;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover .btn-lg:nth-of-type(2) {
  background-color: #ff1744;
  color: #fff; 
}

.cover .btn-lg:nth-of-type(2):hover {
  background-color: #ff616f;
}

.cover .btn-lg:hover {
  background-color: #c4001d;
  color: #fff; 
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* inner page */

  h1 {
    margin-top: 7rem;
    margin-bottom: 2.5rem;
  }

.add {
  height: 100%;
  background-color: #333;
  background-image: url('../assets/bg1.jpg');
  background-size: cover; 
  background-position:center; 
  background-repeat: no-repeat; 
}

.add form {
  width: 60%;
  margin-left:auto; 
  margin-right:auto; 
}

.add label {
  font-size: 1.2rem;
}
.add input[type="file"] {
  float: left; 
  margin-bottom: 2rem; 
}

.add input[type="submit"] {
  float: none; 
  clear:both; 
}
.add .form-control {
  background-color: rgba(255, 255, 255, 0.5); 
  border:transparent;
}

.view {
  height: 100%;
  background-color: #333;
  background-image: url('../assets/bg3.jpg');
  background-size: cover; 
  background-position:bottom; 
  background-repeat: no-repeat; 
}

.view img {
  height: auto; 
  width: 160px;
  border-radius: 50%;
}

.view table {
  background-color:rgba(0,0,0, 0.6); 
  color: #eaeaea; 
}

.view table {
  margin-top: 10rem;
  font-size: 1.1em;
}

.view .table td {
  border-collapse:collapse;
  border-top: transparent; 
}

.view .table tr {
  display:flex; 
  align-items: center;
}

.view tr:hover {
  background-color: #ff1744;
}

.saved main {
  background-color: rgba(0,0,0, 0.6); 
  padding: 2em; 
  border-radius: 5%; 
  color: #fff; 
}

.saved main a {
  max-width: 300px;
  height: 2em; 
  color: #fff; 
  background-color: #ff1744;
  display:block; 
  margin-left: auto; 
  margin-right: auto; 
}

  /*responsive */ 

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }